#!/bin/bash
#For run.tanzu.vmware.com/v1alpha2
export SUPERVISOR_CLUSTER_IP=10.159.229.226 
export TKC_CLUSTER_USER="devops1@vsphere.local"
export KUBECTL_VSPHERE_PASSWORD="Devops1pwd1!"
export TKC_CLUSTER_NAME="prasad-clu-01"
export VS_NAMESPACE="finance"
